@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(155, 155, 155, 0.5);
}

/* Base font size */
html {
  font-size: 16px; /* Adjust as needed */
}

/* Media queries for different screen sizes */
@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
